@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


.img-grayscale {
    filter: grayscale(100%) !important;
    transition: filter 0.3s ease !important;
  }
  .img-grayscale:hover {
    filter: grayscale(0%) !important;
  }